<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>济南</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>青岛</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>淄博</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>枣庄</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>潍坊</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>菏泽</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>德州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>烟台</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>临沂</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>济宁</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>泰安</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>莱芜</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>东营</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>滨州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>聊城</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>日照</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>鲁</string>
		<key>city</key>
		<string>威海</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>闽</string>
		<key>city</key>
		<string>泉州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>闽</string>
		<key>city</key>
		<string>龙岩</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>闽</string>
		<key>city</key>
		<string>福州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>闽</string>
		<key>city</key>
		<string>厦门</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>湘</string>
		<key>city</key>
		<string>长沙</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>湘</string>
		<key>city</key>
		<string>衡阳</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>湘</string>
		<key>city</key>
		<string>湘潭</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>湘</string>
		<key>city</key>
		<string>株洲</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>湘</string>
		<key>city</key>
		<string>邵阳</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>北海</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>防城港</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>南宁</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>崇左</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>柳州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>来宾</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>桂林</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>梧州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>贺州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>玉林</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>贵港</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>百色</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>钦州</string>
		<key>is_selected</key>
		<false/>
	</dict>
	<dict>
		<key>province</key>
		<string>桂</string>
		<key>city</key>
		<string>河池</string>
		<key>is_selected</key>
		<false/>
	</dict>
</array>
</plist>
